<h1> articles</h1>

<ul>
  {{#each article}}
  <li>
    <p>
      {{headline}}{{link}}{{summary}}{{image}}{{comments}}

      <button data-comments="{{this.comments}}" class="addcomments">Add comments!</button>
    </p>
  </li>
  {{/each}}
</ul>
   <div id="wrapper">
      <h1>News Scraper</h1>
      <h2><i>Daily Art News</i></h2>
      <div id="articles"></div>
      <div id="comments"></div>
    </div>
