<h1> articles</h1>

<ul>
  {{#each article}}
  <li>
    <p>
      {{headline}}
    </p>
    <div>
      <a href="{{link}}" />
    </div>
      <p>
        {{summary}}
      </p>
      <p>
        {{comments}}
      </p>
       <div>
         <img class="artImg" src="{{image}}"/>
       </div>
          
          <form action="index.html" method="post">
      <label for="title">title:</label>
      <input type="text" id="title" name="title">

      <label for="comment"> comment: </label>
      <textarea id="comment" name="comment"></textarea>
      <button type="submit" data-comments="{{this.comments}}" class="addcomments">Add comments!</button>
    </form>

      <button data-comments="{{this.comments}}" class="addcomments">Add comments!</button>
    </p>
  </li>
  {{/each}}
</ul>
   <div id="wrapper">
      <h1>News Scraper</h1>
      <h2><i>Daily Art News</i></h2>
      <div id="articles"></div>
      <div id="comments"></div>
    </div>
